appnope
backcall
bleach
cycler
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
mpmath
nbconvert
nbformat
notebook
numpy
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pyzmq
qtconsole
scipy
Send2Trash
six
sympy
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
